<div class="jumbotron my-5 border border-primary" style="border-radius: 20px;">
  <h1 class="display-4">Welcome to SAAS-Team 17's - BlogPost Project</h1>
  <p class="lead">A place to read and write blogs</p>
  <hr class="my-4">
  <p>
  You can write your own blogs and read other interesting ones as well.<br/>
  Do not forget to like the posts and show your appreciation towards them.<br/>
  Feel free to comment if you have any thoughts to share.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="<%=blog_posts_path%>" role="button">Let's get started</a>
  </p>
</div>
